:root{
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
  --primary-friends-font: 'friends', sans-serif;
  --primary-dark-color: #000505;
	--secondary-dark-color: #000505;
  --primary-light-color: #f2f2f6;
  --secondary-light-color: #faffff;
  --primary-dark-text-color: white;
  --secondary-dark-text-color:rgb(168, 167, 167);
  --primary-light-text-color: black;
  --secondary-light-text-color: rgb(73, 71, 71);
  --progress-bar-dark-color: #9e9e9e;
  --progress-bar-light-color: #413f3f;
  --dark-button-background: rgb(32, 32, 32);
  --light-button-background: #e2e2e2;
  --light-neumorphism-shadow-1: rgb(165, 164, 164);
  --light-neumorphism-shadow-2: rgb(255, 255, 255);
  --dark-neumorphism-shadow-2: rgb(58, 56, 56);
  --dark-neumorphism-shadow-1: rgb(0, 0, 0);
}
@font-face {
  font-family: friends;
  src: url(./assets/fonts/friends.TTF);
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--primary-font);
  background: var(--primary-dark-color);
  font-size: 10px;
  animation: transitionInNormal 1s;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  animation: transitionInNormal 1s;
}
a{
  color: white;
  text-decoration: underline;
}

::-webkit-scrollbar{
  width:0;
}
.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
nav{
 position: static;
 height: 80px;
 width: 100%;
 background: var(--primary-dark-color);
 z-index: 100;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
}

#horizontalProgressBar{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: var(--progress-bar-dark-color);
  filter: blur(0.5px);
}
.friends{
  font-family: var(--primary-friends-font);
  font-size: 35px;
}
#float-mode{
  position: absolute;
  width: 60px;
  height: 30px;
  top: 20px;
  right: 10px;
  border-radius:35px;
  cursor: pointer;
  background: var(--light-button-background);
  box-shadow: inset 7px 7px 7px var(--light-neumorphism-shadow-1), inset -7px -7px 7px var(--light-neumorphism-shadow-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
}
#mode-circle{
  height: 25px;
  width:25px;
  background: var(--dark-button-background);
  border-radius:50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 7px 7px 7px var(--dark-neumorphism-shadow-1), inset -7px -7px 7px var(--dark-neumorphism-shadow-2);
}

#float-like{
  position: fixed;
  width: 80px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  border-radius:30px;
  cursor: pointer;
  background: var(--dark-button-background);
  box-shadow: inset 7px 7px 7px var(--dark-neumorphism-shadow-1), inset -7px -7px 7px var(--dark-neumorphism-shadow-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  animation: transitionInX 2s ease-in-out;
 z-index: 100;
}
#runner{
  position: fixed;
  height: 80px;
  bottom: 70px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
}
.likes-count{
  font-size: 20px;
}


.red-dot{
  color: red;
}
.yellow-dot{
  color: yellow;
}
.blue-dot{
  color: rgb(53, 165, 235);
}

#me{
  margin: 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 10px;
  color: var(--secondary-dark-text-color);
  /* border: 3px solid white; */
  /* height: 100vh; */
}
.social-accounts{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.me{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.fab, .far{
  color: white;
  transition: transform 0.5s ease-in-out;
}
.fab:hover ,.far:hover, .me:hover{
  transform: scale(1.5);
}
.fa-heart{
  color: rgb(200, 25, 25);
 }

.hidden{
  display: none;
}

.header-overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, black 10%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.5) 100%);
}
.header-text{
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 3;
  text-align: center;
}
.header-border{
  position: absolute;
  inset: 20px;
}
.header-text h1{
  font-family: var(--secondary-font);
  font-size: 50px;
  padding-bottom: 5px;
  border-bottom: 5px solid;
}
.header-text h2{
  font-size: 20px;
}
.header-text i{
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  bottom:50px;
  animation: jumpArrow 2s linear infinite;
}
main{
  width: 75%;
  margin: auto;
  margin-top: 30px;
}
main h1{
  font-family: var(--primary-friends-font);
  font-size: 40px;
  margin: 50px 0;
}
main p{
  font-size:20px;
  text-align:justify;
  margin: 10px 0;
}
img{
  max-width: 100%;
}
#shadow{
  filter:drop-shadow(5px 5px 10px rgba(128, 128, 128, 0.596));
}
.image-grid{
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.image-grid .image:nth-child(1){
  align-self: flex-end;
}
.image{
  overflow: hidden;
  position: relative;
}
.image img{
  transition: 0.5s all ease-in-out;
}
.image:hover img{
  transform: scale(1.3);
}
.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.giffy{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.giffy img{
  min-width: 50%;
}
.bye{
  margin: 50px 0;
  text-align: center;
  font-size:20px;
}
.bye h3{
  margin: 10px 0;
  font-size:10px;
}
#contents-container{
  position: fixed;
  bottom: 150px;
  right: 60px;
  z-index: 500;
}
#contents{
  position: relative;
  width: 250px;
  /* height: 40px; */
  display: flex;
  flex-direction:column;
  align-items: center;
  padding:10px;
  font-size: 20px;
  background: var(--light-button-background);
  color: var(--secondary-light-text-color);
  border-radius: 10px;
}
#contents div{
  padding: 10px 0;
  cursor: pointer;
  border-radius:5px;
}
#contents div:first-child{
  align-self: flex-end;
  padding-right: 20px;
}
#contents div:hover{
  color:var(--secondary-dark-text-color);
}
#contents::after{
  position: absolute;
  bottom:-20px;
  right: 10%;
  content: "";
  border: 40px solid transparent;
  border-top-color: var(--light-button-background);
  border-bottom: 0;
  border-right: 0;
  margin-bottom: -10px;
  transform: rotate(-18deg);
}
@media (max-width: 758px){
    #float-mode{
      width: 40px;
      height: 20px;
    }
    #mode-circle{
      width: 15px;
      height: 15px;
    }
    #float-like{
      width:50px;
      height: 30px;
      bottom: 10px;
      right: 10px;
      }
      #runner{
       bottom: 40px;
       right: 0;
      }
    .likes-count{
      font-size:15px;
    }
    .fa-heart, .fas{
      font-size:15px;
    }
    main{
      width:90%;
    }
    main h1{
      font-size:25px;
    }
    main p{
      font-size:15px;
    }
    .bye{
      font-size:15px;
    }
    .bye h3{
      font-size:8px;
    }
    #contents-container{
      bottom: 120px;
      right: 30px;
    }
    #contents{
      width:200px;
      padding: 5px;
      font-size:15px;
    }
    #contents div{
      padding: 5px 0;
    }
}
@media (max-width:480px) {
  nav{
    justify-content: flex-start;
    padding-left: 5px;
  }
  .friends{
    font-size:20px;
  }
  nav{
   height:60px;
  }
  header{
    margin-top:60px;
    height:calc(100vh - 60px);
  }
}
@keyframes transitionInNormal {
  from{
    opacity: 0;
    transform: translateY(30px);
  } to{
    opacity: 1;
    transform: translateY(0); 
  }
}
@keyframes transitionInX{
  from{
    opacity: 0;
    transform: translateX(30px);
  } to{
    opacity: 1;
    transform: translateX(0); 
  }
}
@keyframes jumpArrow{
  0%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(-20px);
  }
  70%{
    transform: translateY(-7px);
  }
  80%{
    transform: translateY(-21px);
  }
  90%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0px);
  }

}