:root{
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
  --primary-friends-font: 'friends', sans-serif;
  --primary-dark-color: #101111;
	--secondary-dark-color: #111111;
  --primary-light-color: #fefefe;
  --secondary-light-color: #fafafa;
  --primary-dark-text-color: white;
  --secondary-dark-text-color:rgb(168, 167, 167);
  --primary-light-text-color: black;
  --secondary-light-text-color: rgb(73, 71, 71);
  --progress-bar-dark-color: #9e9e9e;
  --dark-button-background: rgb(32, 32, 32);
  --light-button-background: #e2e2e2;
  --light-neumorphism-shadow-1: rgb(165, 164, 164);
  --light-neumorphism-shadow-2: rgb(255, 255, 255);
  --dark-neumorphism-shadow-1: rgb(37, 37, 37);
  --dark-neumorphism-shadow-2: rgb(0, 0, 0);
}
@font-face {
  font-family: friends;
  src: url(../assets/fonts/friends.TTF);
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: var(--primary-font);
  background: var(--primary-dark-color);
  font-size: 10px;
  animation: transitionInNormal 1s;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  transform-origin: center center;
  transition: all 0.7s ease-in-out;
}
a{
  color: white;
  text-decoration: underline;
}
.friends{
  font-family: var(--primary-friends-font);
  font-size: 35px;
  padding: 20px;
}

::-webkit-scrollbar{
  width:0;
}
#horizontalProgressBar{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5px;
  background: var(--progress-bar-dark-color);
}
#documentation{
	height: 100vh;
  margin: 40px;
  margin-top: 0;
	padding: 10px;
  border-radius:20px;
	background: var(--secondary-dark-color);
  box-shadow: inset 4px 4px 7px var(--dark-neumorphism-shadow-1), inset -7px -7px 7px var(--dark-neumorphism-shadow-2);
}

#float-mode{
  position: fixed;
  width: 80px;
  height: 40px;
  top: 30px;
  right: 30px;
  border-radius:30px;
  cursor: pointer;
  background: var(--light-button-background);
  box-shadow: inset 7px 7px 7px var(--light-neumorphism-shadow-1), inset -7px -7px 7px var(--light-neumorphism-shadow-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 1s linear;
}

#mode-circle{
  height: 35px;
  width:35px;
  background: var(--dark-button-background);
  border-radius:50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#float-like{
  position: fixed;
  width: 80px;
  height: 40px;
  bottom: 30px;
  right: 30px;
  border-radius:30px;
  cursor: pointer;
  background: var(--dark-button-background);
  box-shadow: inset 7px 7px 7px var(--dark-neumorphism-shadow-1), inset -7px -7px 7px var(--dark-neumorphism-shadow-2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.2s ease-in-out;
}

.likes-count{
  font-size: 20px;
}


.red-dot{
  color: red;
}
.yellow-dot{
  color: yellow;
}
.blue-dot{
  color: rgb(53, 165, 235);
}


h1{
	text-align: center;
}

#me{
  margin: 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 10px;
  color: var(--secondary-dark-text-color);
  /* border: 3px solid white; */
  /* height: 100vh; */
}
.social-accounts{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.me{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.fab, .far{
  color: white;
  transition: transform 0.5s ease-in-out;
}
.fab:hover ,.far:hover, .me:hover{
  transform: scale(1.5);
}
.fa-heart{
  color: rgb(200, 25, 25);
 }

.hidden{
  display: none;
}
@media (max-width: 758px){
    #float-mode{
      width: 50px;
      height: 30px;
      top: auto;
      right: auto;
      bottom: 10px;
      left: 10px;
    }
    #mode-circle{
      width: 25px;
      height: 25px;
    }
    #float-like{
      width:50px;
      height: 30px;
      bottom: 10px;
      right: 10px;
      }
    .likes-count{
      font-size:15px;
    }
    .fa-heart, .fas{
      font-size:15px;
    }
}
@media (max-width:480px) {
  #documentation{
  margin: 10px;
  margin-top: 0;
  }
  .friends{
    font-size:20px;
  }

}