:root{
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Source Sans Pro', sans-serif;
  --primary-friends-font: 'friends', sans-serif;
  --primary-dark-color: #000505;
  --light-neumorphism-shadow-1: rgb(165, 164, 164);
  --light-neumorphism-shadow-2: rgb(255, 255, 255);
  --dark-neumorphism-shadow-2: rgb(71, 71, 71);
  --dark-neumorphism-shadow-1: rgb(0, 0, 0);
}
@font-face {
  font-family: friends;
  src: url(assets/fonts/friends.TTF);
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body{
  font-family: var(--primary-font);
  background: var(--primary-dark-color);
  font-size: 10px;
  color: white;
  margin: 0 15px 0;
  position: relative;
  overflow-x: hidden;
  /* overflow-y: scroll; */
}

.splash{
  background: black;
  position: fixed;
  inset: 0;
  z-index: 200;
  color: white;
  font-family: var(--primary-friends-font);
  font-size: 3rem;
  font-weight: 900;
  line-height: 90vh;
  text-align: center;
  overflow: hidden;
}
.splash:before{
content: '';
position: absolute;
left: 120%;
width: 120%;
height: 100%;
background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
animation: animate 10s linear forwards;
}
.splash.display-none{
  background: black;
  position: fixed;
  inset: 0;
  opacity: 0;
  z-index: -1;
  line-height: 90vh;
  transition: all 1s ease-in-out 1s;
}

img{
  max-width: 100%;
  max-height: 100%;
}

.nav-container{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}
nav{
  background: var(--primary-dark-color);
  height: 80px;
  width: 100%;
  position: static;
  z-index: 100;
}

#float{
	position:fixed;
	width:70px;
	height:70px;
	bottom: 30px;
  right: 30px;
	color:#FFF;
  /* background: white; */
	border-radius:50%;
	text-align:center;
  z-index: 100;
}
#float:hover{
  transform: scale(1.5);
}
#myfloat{
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  /* background: url(assets/images/me/dot_background.png); */
  background-size: cover;
  background-position: center center;
	border-radius:50%;
}

.rotateBackgroundClockWise{
  animation: rotateBackground 3s linear infinite;
}
.rotateBackgroundAntiClockWise{
  animation: rotateBackground 3s linear reverse infinite;
}
#float img{
  position: absolute;
  inset: 5px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius:50%;
}

label.logo{
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  font-family: var(--primary-friends-font);
  color: white;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
  padding: 0 15px;
}

.red-dot{
  color: red;
}
.yellow-dot{
  color: yellow;
}
.blue-dot{
  color: rgb(53, 165, 235);
}

nav ul{
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 30px;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  cursor: pointer;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2),
nav ul li:nth-child(3){
  float: left;
}

nav ul li:nth-child(4),
nav ul li:nth-child(5),
nav ul li:nth-child(6){
  float: right;
}


.menu{
  color: white;
  font-size: 35px;
  line-height: 80px;
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

#home{
  background: url(assets/images/backgrounds/friends_bg_desktop.jpeg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
  position: relative;
}

.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.home-overlay{
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, black 10%, rgba(0,0,0,0.8) 30%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.5) 100%);
  z-index: 1;
}
.home-captions{
  font-family: var(--primary-friends-font);
  display: flex;
  height:calc(100vh - 80px);
  position: absolute;
  right: 20px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-size: 50px;
  z-index: 2;
}
.home-captions h1:nth-child(1)
{
  animation: transitionInSlow 2s;
}
.home-captions h1:nth-child(2)
{
  animation: transitionInSlow 3.5s;
}
.home-captions h1:nth-child(3)
{
  animation: transitionInSlow 5s;
}
.home-captions h1:nth-child(4)
{
  animation: transitionInSlow 6.5s;
}
.friends-tag{
  font-size: 55px;
}
.friends-song{
  position: absolute;
  left: 50px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.headers{
  font-family: var(--primary-friends-font);
  padding: 30px 0 30px 15px;
}
.scroll-down{
  width: 100%;
  position: absolute;
  bottom:50px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fa-chevron-down{
  color:white;
  font-size: 30px;
  animation: jumpArrow 2s linear infinite;
  cursor: pointer;
}
#about{
  font-size: 20px;
  width: 100%;
  max-width:100%;
  max-height: 100%;
}
.about-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about-images{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.about-images{

  position: relative;
}
.about-images div:first-child{
  position: absolute;
  inset: 0;
  z-index: 3;
}
.about-image-square-1{
  width: 50%;
  opacity: 0.25;
  position: absolute;
  top: 0;
  right: 150px;
  z-index: 2;
}
.about-image-square-2{
  width: 50%;
  opacity: 0.25;
  position: absolute;
  top: 200px;
  left:0;
}
.about-image-square-3{
  width: 50%;
  opacity: 0.25;
  position: absolute;
  top: 0;
  left:0;
  z-index: 2;
}
.about-images div:last-child{
  position: absolute;
  top: 200px;
  left: 200px;
}
.about-image-1{
  width: 50%;
}
.about-image-2{
  width: 80%;
} */

.about-text-grid{
  height: 100%;
  width: 50%;
  text-align: justify;
}

.about-text-grid div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.about-text-grid div img{
  height:50px;
}
.about-text-grid p a{
  color:rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}
.about-text-grid p a:nth-child(n):hover{
  color: red;
}
.about-text-grid p a:nth-child(2n):hover{
  color: yellow;
}
.about-text-grid p a:nth-child(3n):hover{
  color: rgb(53, 165, 235);
}
.about-text-grid div p{
  color:rgba(255, 255, 255, 0.5);
}

#gallery{
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}
.gallery-background-video{
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.gallery-overlay{
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background:url(./assets/images/gallery-overlay.png) no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.gallery-videos{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
  padding: 10%;
  z-index: 100;
}
.iframe-container{
  position: relative;
  z-index: 3;
  width: 100%;
  padding-bottom: 56.25%; 
}
.iframe-container iframe{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
#actors{
  width: 100%;
  height: 100vh;
  background: url(/assets/images/actors_section/background.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow-y: hidden;
}

.slides{
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
  z-index: 3;
}
.slide{
  width: 110%;
  height: 100vh;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  background-size: cover;
  background-position: center center;
  transition: transform ease-in-out 500ms;
}

.actor-header{
  position: absolute;
  top: 0;
  z-index: 5;
}


.actor{
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
.actor-image{
  width: 40%;
  height: 100%;
}
.about-actor{
  width: 60%;
  padding-right: 15px;
  font-size: 20px;
  text-align: justify;
}
.about-actor h1{
  font-family: var(--secondary-font);
  font-size: 40px;
  font-weight: bold;
}
.about-actor p{
  color:rgb(168, 167, 167);
}
.about-actor a{
  color: white;
  text-decoration: underline;
}
#blogs{
  overflow: hidden;
}
.blogs-grid{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  align-items: flex-start;
  gap: 10px;
}
.blog{
  position: relative;
  overflow: hidden;
}
.blog:nth-child(2n-1){
  justify-self: end;
}
.blog:first-child
{
  align-self: flex-end;
}
.blog:last-child{
  align-self:flex-end;
}
.blog img{
  transition: 0.5s all ease-in-out;
}
.blog-text{
  position: absolute;
  inset: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.blog-text h1{
  font-family: var(--secondary-font);
  font-size: 30px;
  padding: 5px;
  border-bottom: 3px solid white;
}
.blog-text h2{
  font-size: 20px;
}
.blog-text a{
  cursor: pointer;
  font-family: var(--secondary-font);
  font-size: 20px;
  padding: 10px;
  color: black;
  display: none;
}
.blog-overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: background 1s ease;
}

.blog-border{
  position: absolute;
  inset: 10px;
  z-index: 3;
  border: 3px solid white;
  display: none;
  transition: border 1s ease;
}

.blog:hover .blog-border{
  animation: generateBorder 1.5s ease;
  display: block;
}
.blog:hover img{
  transform: scale(1.5);
}
.blog:hover .blog-overlay{
  background: rgba(0, 0, 0, 0.7);
}
.blog:hover .blog-text a{
  display: block;
  animation: generateBackground 1s ease;
  background: white;
}
.blog:hover .blog-text{
  animation: transitionInSlow 1s;
}

#reviews{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.reviews-container{
 height: 60vh;
 display: flex;
 justify-content: center;
 flex-direction: row;
 overflow: hidden;
 position: relative;
}
.review{
  display: flex;
  width: 100%;
  padding: 10%;
  position: absolute;
  top:0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: white;
  transition: transform 0.7s ease-in-out;
}
.review p {
  text-align: justify;
  color: white;
  width: 30%;
}

.reviewer{
  height:100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.stars{
  display: flex;
  flex-direction: row;
}
.stars{
  height: 15px;
}
.dot-container{
  align-self: center;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.dot{
  height: 10px;
  width: 10px;
  border: none;
  background-color: #e2e2e2;
  box-shadow: inset 3px 3px 3px var(--light-neumorphism-shadow-1), inset -3px -3px 3px var(--light-neumorphism-shadow-2), 3px 3px 7px var(--dark-neumorphism-shadow-2), -3px -3px 3px var(--dark-neumorphism-shadow-1);
  border-radius: 50%;
  display: inline-block;
  transition: all 0.2s linear;
  cursor: pointer;
}

.active-dot{
  width: 30px;
  border-radius: 10%;
}
/* .arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1);
  transform: background 500ms;
  border-radius: 50%;
}

.arrow img{
  width: 50px;
}
.arrow:hover{
  background: rgba(0, 0, 0, 0.4);
}

.left{
  left: 10px;
}
.right{
  right: 10px;
} */

#me{
  margin: 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 10px;
  color:rgb(168, 167, 167);
  /* border: 3px solid white; */
  /* height: 100vh; */
}
#me a{
  color: white;
  text-decoration: underline;
}
.social-accounts{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.me{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.fab, .far{
  color: white;
  transition: transform 0.7s ease-in-out;
}
.fab:hover ,.far:hover, .me:hover{
  transform: scale(1.5);
}
@media (max-width: 1200px){
  .splash{
    font-size: 2rem;
    }
  .friends-song{
    left: 5px;
  }
  .home-captions{
    right: 10px;
  }
  nav ul li{
    margin: 0 7px;
  }
  /* #about{
    height: 120vh;
  } */
}
@media (max-width: 952px) {
  label.logo{
    font-size: 30px;
  }
  nav ul li{
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .review p{
    width:50%;
  }
  .splash{
    font-size: 1.3rem;
    }
  body{
  margin: 0;
  }
  #home{
    background: url(assets/images/backgrounds/friends_bg_mobile.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
  }
  .menu{
    display: block;
  }
  label.logo{
  left: 5%;
  transform: translateX(-10%);
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--primary-dark-color);
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li:nth-child(1),
  nav ul li:nth-child(2),
  nav ul li:nth-child(3){
    float: none;
  }

  nav ul li:nth-child(4),
  nav ul li:nth-child(5),
  nav ul li:nth-child(6){
    float: none;
  }

  nav ul{
  text-align: center;
  }
  nav ul li{
    display: block;
    font-size: 20px;
  }
  #check:checked ~ul{
    left: 0;
  }
  .about-flex{
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
  }
  /* .about-flex{
    flex-direction: column;
  }
  .about-images{
    height: 90vh;
    width: 100%;
  }
  #about{
    height: 155vh;
    font-size: 15px;
  } */
  #actors, .slides{
    height: 110vh;
  }
  .about-text-grid{
    height: 50%;
    width: 100%;
  }

  .gallery-videos{
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 5px;
    padding: 10px;
  }
  .actor{
    flex-direction:column;
  }
  .actor-image{
    width: 100%;
    height: 40%;
  }
  .about-actor{
    width: 100%;
    height: 60%;
    font-size: 15px;
  }
  .about-actor h1{
    font-size: 20px;
  }
  .blog-text h1{
    font-size: 20px;
  }
  .blog-text h2, a{
    font-size: 10px;
  }
}
@media (max-width:480px) {
  .splash{
  font-size: 0.8rem;
  }
  #float{
    height: 50px;
    width: 50px;
    bottom: 10px;
    right: 10px;
  }
  #float img{
    height: 40px;
    width: 40px;
  }
  .home-captions{
    font-size: 30px;
  }
  .friends-tag{
    font-size:35px;
  }
  .menu{
    font-size: 35px;
  }
  label.logo, .headers{
    font-size: 20px;
  }
  .friends-song{
    font-size:13px;
  }
  /* .about-images{
    height: 70vh;
  }
  .about-image-square-1{
    right: 30px;
  }
  .about-images div:first-child{
    top: 50px;
    left: 20px;
   }
  .about-images div:last-child{
   left: 100px;
  } */
  .gallery-videos{
    padding-top: 80px;
  }
  .blog-text h1{
    font-size: 15px;
  }
  .blog-text h2{
    font-size: 8px;
  }
  .blog-text a{
    font-size: 8px;
    padding: 3px;
  }
  .blog-border{
    inset: 3px;
  }
  .review p{
    width:60%;
  }
  #me{
   font-size: 0.7em;
  }
  .fab, .far{
    font-size: 2em;
  }
}

@keyframes animate{
  0%
  {
    left: -20%;
  }
  50%
  {
    left: 120%;
  } 
  100%
  {
    left: -20%;
  }
}
@keyframes transitionInNormal {
  from{
    opacity: 0;
    transform: translateY(15px);
  } to{
    opacity: 1;
    transform: translateY(0); 
  }
}
@keyframes transitionInSlow {
  from{
    opacity: 0;
    transform: translateY(30px);
  } to{
    transform: translateY(0); 
    opacity: 1;
  }
}
@keyframes generateBorder {
  0%{
   border: none;
  }
  25%{
    border-bottom: 3px solid white;
  }
  50%{
    border-bottom: 3px solid white;
    border-right: 3px solid white;
  }
  75%{
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    border-top: 3px solid white;
  }
  100%{
    border-top: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
  }
}
@keyframes generateBackground {
  0%{
    background: rgba(255,255,255,0);
  }
  25%{
    background: rgba(255,255,255,0.25);
  }
  50%{
    background: rgba(255,255,255,0.5);
  }
  75%{
    background: rgba(255,255,255,0.75);
  }
  100%{
    background: rgba(255,255,255,1);
  }
}
@keyframes rotateBackground {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes jumpArrow{
  0%{
    transform: translateY(0px);
  }
  30%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(-20px);
  }
  70%{
    transform: translateY(-7px);
  }
  80%{
    transform: translateY(-21px);
  }
  90%{
    transform: translateY(-8px);
  }
  100%{
    transform: translateY(0px);
  }

}
